@import "tailwindcss";

:root {
  --background: #fff;
  --epiground: #ccc;
  --foreground: #444;
  --escape-color: #fe0;
  --accent-color: #e63;
  --field-color: #def;
  --error-color: #f35;
  --success-color: #0c0;
  --action-color: #56a;
  --status-color: #78c;
  --window-color: #9ae;
  --border-width: 2px;

  font-size: 3.5vw;

  --default-margin: 0.25rem;
  --default-padding: 0.5rem;
  --button-padding: 0.4rem;
  --default-border-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), 
    url('/images/bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.8rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.63rem;
  text-align: center;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

button,
.Button {
  font-weight: bold;
  margin: 0;
  border: var(--border-width) solid var(--action-color);
  border-radius: var(--default-border-radius);
  justify-content: center;
  box-sizing: border-box;
  align-self: center;
  width: 100%;

  display: flex;
  padding: var(--button-padding);
  background-color: transparent;
  color: var(--action-color);
  cursor: pointer;
}

.escape {
  border: var(--border-width) solid transparent;
  background-color: var(--escape-color);
  color: var(--accent-color);
}

.primary {
  border: var(--border-width) solid transparent;
  background-color: var(--accent-color);
  color: white;
}

.disabled {
  border: var(--border-width) solid transparent;
  background-color: var(--epiground);
  color: white;
  cursor: not-allowed;
}

.danger {
  border: var(--border-width) solid var(--error-color);
  background-color: var(--error-color);
  color: white;
}

form {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

input,
textarea {
  background: #eee;
  box-sizing: border-box;
}

.error {
  color: var(--error-color);
  font-weight: bold;
}

.success {
  color: var(--success-color);
  font-weight: bold;
}

.info-label {
  font-weight: bold;
}

.info-value {
  color: var(--status-color);
  font-size: 1.25rem;
  font-weight: bold;
}

.info-value-small {
  color: var(--status-color);
  font-size: 1rem;
  font-weight: bold;
}

.info-input {
  color: var(--accent-color);
  font-size: 1.25rem;
}

.info-input-small {
  color: var(--accent-color);
  font-size: 1rem;
}

.master-width {
  width: 81.25vw;
  max-width: min(75vw, 32rem, 100%);
}

.windowlike {
  padding: var(--default-padding);
  border: var(--border-width) solid var(--window-color);
  margin: var(--default-margin);
  border-radius: var(--default-border-radius);
}
.invwindow {
  margin: var(--default-margin);
  padding: var(--default-padding);
}

.radio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--default-padding);
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  padding-bottom: 0;
  border: var(--border-width) solid var(--action-color);
  border-radius: 0;
  cursor: pointer;
}

.username {
  font-style: italic;
}

.nickname {
  font-size: 1.25rem;
}

.amount-input {
  width: 8rem;
  max-width: 100%;
}

.multiplier-input {
  width: 4rem;
}

.short-input {
  width: 8rem;
}

.bare {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.bare-lr {
  border: none;
  background: none;
  color: inherit;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.change-field {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
}
  .change-field .old-value {
    grid-column: 1;
    grid-row: 1;
  }
  .change-field .new-value {
    grid-column: 1;
    grid-row: 2;
  }
  .change-field button {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .change-field .misc {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

.bipartite {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.role-edit-panel {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
}

.generic-vert-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  gap: 0.5rem;
}

.text-token {
  overflow-wrap: anywhere;
}
