@import "tailwindcss";

:root {
  --cnt-yellow: #fe0;
  --cnt-orange: #e63;
  --cnt-blue3: #56a;
  --cnt-blue2: #78c;
  --cnt-blue1: #9ae;

  
  --graphite: #444;
  --background: #fff;
  --half-white: rgba(255, 255, 255, 0.8);
  --color-action: var(--cnt-blue3);
  --color-frame: var(--cnt-blue1);
  --color-status: var(--cnt-blue2);
  --color-back: var(--cnt-yellow);
  --color-prime: var(--cnt-orange);
  --color-success: #090;
  --color-error: #f35;
  --color-disabled: #ccc;
  --color-disabled2: #999;
  --color-gain: #e66;
  --color-alipay: #17f;
  --color-wechat: #1a1;
  accent-color: var(--cnt-orange);
  --half-white: rgba(255, 255, 255, 0.6);
  --color-shadow: #2224;
  --shadow: 0.05rem 0.1rem var(--color-shadow);

  --border-width: 0.16rem;
  --default-margin: 0.25rem;
  --default-padding: 0.5rem;
  --button-padding: 0.4rem;
  --default-border-radius: 0.5rem;

  color-scheme: only light;

  font-size: min(calc(100vw / 30), 16px)
}

body {
  background: #eee;
  color: var(--graphite);
  font-family:
    var(--font-latin),
    sans-serif;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

h1 { font-size: 2.5rem; font-weight: bold;    margin: 0.8rem; text-align: center; }
h2 { font-size: 2.0rem; font-weight: bold;    margin: 0; text-align: center; }
h3 { font-size: 1.6rem; font-weight: bold;    margin: 0; text-align: center; }
h4 { font-size: 1.6rem; font-weight: normal;  margin: 0; text-align: center; }

main {
  position: relative;
  
  width: 30rem;
  min-height: 48rem;
  background: white;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), 
    url('/images/bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30rem auto;
  background-attachment: scroll;  

  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
  text-align: left;  
  margin-inline: auto;
}

button,
.Button {
  font-weight: bold;
  margin: 0;
  border: var(--border-width) solid var(--color-action);
  border-radius: var(--default-border-radius);
  justify-content: center;
  box-sizing: border-box;
  align-self: center;
  width: 100%;

  display: flex;
  padding: var(--button-padding);
  background-color: var(--half-white);
  color: var(--color-action);
  cursor: pointer;

  box-shadow: var(--shadow);
}

.action1  { border: var(--border-width) solid var(--color-action);   background-color: var(--half-white);            color: var(--color-action); }
.action2  { border: var(--border-width) solid transparent;           background-color: var(--color-action);    color: var(--color-back); }
.escape   { border: var(--border-width) solid transparent;           background-color: var(--color-back);    color: var(--color-prime); }
.escape2  { border: var(--border-width) solid var(--color-action);   background-color: var(--color-back);    color: var(--color-action); }
.primary  { border: var(--border-width) solid transparent;           background-color: var(--color-prime);     color: white; }
.disabled { border: var(--border-width) solid transparent;           background-color: var(--color-disabled);  color: white; cursor: not-allowed; }
.danger   { border: var(--border-width) solid var(--color-error);    background-color: var(--color-error);     color: white; }
.accept   { border: var(--border-width) solid var(--color-success);  background-color: var(--half-white);            color: var(--color-success); }
.decline  { border: var(--border-width) solid var(--color-error);    background-color: var(--half-white);            color: var(--color-error); }

.alipay   { border: var(--border-width) solid transparent;           background-color: var(--color-alipay);    color: white; }
.wechat   { border: var(--border-width) solid transparent;           background-color: var(--color-wechat);    color: white; }

input,
textarea {
  background: #eee;
  box-sizing: border-box;
}

textarea {
  width: 100%;
}

.error   { color: var(--color-error);   font-weight: bold; }
.success { color: var(--color-success); font-weight: bold; }

.info-label {
  font-weight: bold;
}

.info-value { color: var(--color-status); font-size: 1rem;    font-weight: bold; }
.info-value-large { color: var(--color-status); font-size: 1.25rem; font-weight: bold; }
.info-value .cash { color: var(--graphite); }
.info-value .bonus { color: var(--color-success); }

.gold {
  color: var(--cnt-yellow);
  background: #777;
}
.silver {
  color: var(--cnt-blue3);
  background: #eee
}
.bronze {
  color: var(--cnt-orange);
}

.info-input       { color: var(--color-prime); font-size: 1.25rem; }
.info-input-small { color: var(--color-prime); font-size: 1rem;    }

.customer-count { font-weight: bold; color: var(--cnt-blue3); }
.staff-count { font-weight: bold; color: var(--cnt-blue1); }

.money-gain { color: var(--color-gain); }
.money-owe { color: var(--color-error); font-weight: bold; }

.master-width {
  width: 25rem;
}
.avatarPanel {
  width: 28rem;
}

.windowlike {
  padding: var(--default-padding);
  border: var(--border-width) solid var(--color-frame);
  margin: var(--default-margin);
  border-radius: var(--default-border-radius);

  backdrop-filter: blur(0.1rem);
  box-shadow: var(--shadow);
}
.invwindow {
  padding: 0;
  border: var(--border-width) solid transparent;
  margin: var(--default-margin);
  border-radius: var(--default-border-radius);
}
.invwindow.master-width {
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}
.nulldiv {
  padding: 0;
  margin: 0;
}

.radio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--default-padding);
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  padding-bottom: 0;
  border: var(--border-width) solid var(--color-action);
  border-radius: 0;
  cursor: pointer;

  color: var(--color-action);
}

.radio-card:has(input:checked) {
  border-color: var(--color-prime);
  box-shadow: inset 0 0 0 var(--border-width) var(--color-prime);

  color: var(--color-prime);
  text-decoration: underline;
}

.username  { font-family: var(--font-display); font-size: 1rem; }
.nickname { font-size: 1.25rem; font-weight: normal; }
.nickname.staff { border-left: 0.5rem solid var(--color-status); padding-left: 0.2rem; }
.nickname.admin { border-left: 0.5rem solid var(--color-success); padding-left: 0.2rem; }
.nickname.sponsor { border-left: 0.5rem solid var(--color-prime); padding-left: 0.2rem; }

.amount-input     { width: 8rem; max-width: 100%; }
.multiplier-input { width: 4rem; }
.short-input      { width: 8rem; }

.change-field { display: grid; grid-template-columns: 2fr 1fr; gap: 0.5rem; }
  .change-field .old-value { grid-column: 1;          grid-row: 1; }
  .change-field .new-value { grid-column: 1;          grid-row: 2; }
  .change-field button     { grid-column: 2;          grid-row: 1 / span 2; }
  .change-field .misc      { grid-column: 1 / span 2; grid-row: 3; }

.bipartite {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-items: baseline;
}
.tripartite {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  align-items: baseline;
}
.leftwide {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
  align-items: baseline;
}
.rightwide {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  align-items: baseline;
}
.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visit-time-and-qr {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  align-items: start;
}

.role-edit-panel {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
}

.generic-vert-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit);
  gap: 0.5rem;
}

.text-token {
  overflow-wrap: anywhere;
  font-weight: normal;
  font-family: var(--font-display);
}

.avatar-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0.5rem;
}
.avatar-selection .label {
  text-align: center;
  font-size: 0.8rem;
}

.card-with-avatar {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
}

.avatar {
  width: 4rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--default-border-radius);
}
.avatar.inline {
  display: inline-block;
}

.visitListing {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0.5rem;
  align-items: baseline;
  text-align: right;
}

.ledgerListing {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
  gap: 0.5rem;
  align-items: baseline;
  text-align: right;
}

.table-header {
  font-weight: bold;
}

.dayVisitHistogram {
  width: 28rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 0;
  align-items: end;
}
.weekVisitHistogram {
  width: 25rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  gap: 0;
  align-items: end;
}
.histogram-column {
  margin: 0;
  padding: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plot {
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.barWithValue {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.barWithValue .value {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-bottom: 0.25rem;
  color: var(--color-status);
  font-size: 1rem;
  font-weight: bold;
}
.histogram-column .barWithValue .bar {
  width: 63%;
}
.bar.noon {
  background-color: var(--cnt-blue1);
}
.bar.morning {
  background-color: #666;
}
.bar.evening {
  background-color: var(--cnt-blue3);
}
.label {
  text-align: center;
}
.nowLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--border-width);
  background: var(--cnt-orange);
  z-index: -1;
}

.playerNavigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
  width: 28rem;
}
